{% assign products_per_page = section.settings.products_per_page %}
<div class="collection">
  <div class="big-container">
    {% if collection.image  %}
      <div class="collection__img" style="background-image:url({{ collection.image | img_url: 'master'}});"></div>
    {% endif %}
    <div class="collection__heading">
        <h1 class="collection__title">{{ collection.title }}</h1>
        <div class="collection__mobile-row">
          <button class="collection__filter-buttons btn" id="open-filters-btn">Show Filters</button>
          <div class="bc-sf-filter-toolbar-item text-right sort-by collection__sort-by" id="bc-sf-filter-top-sorting"></div>
        </div>
    </div>

    {% paginate collection.products by products_per_page %}

    {% comment %}
    <div id="bc-sf-filter-default-toolbar">
        <div class="bc-sf-filter-default-toolbar-inner">
          <div class="bc-sf-filter-toolbar-item">
            <div id="bc-sf-filter-top-display-type"></div>
          </div>
          <div class="bc-sf-filter-toolbar-item bc-sf-filter-toolbar-count">
            <span id="bc-sf-filter-total-product"></span>
          </div>
          <div class="bc-sf-filter-toolbar-item text-right" id="bc-sf-filter-top-sorting"></div>
        </div>
    </div>
    {% endcomment %}
    {% comment %} END TOOLBAR {% endcomment %}
    <div id="bc-sf-filter-wrapper" class="collection__container">
      <div class="collection__sidebar" id="collection-sidebar">

       <div class="collection__navs-list">
         {% for block in section.blocks %}
          <div class="nav-widget">
            {% assign nav = linklists[block.settings.linklist] %}
                <div class="nav-widget__head js-header">{{ nav.title }}</div>
                    <ul class="nav-widget__body js-body">
                      {% for link in nav.links %}
                          <li class="nav-widget__block">
                              <span class="nav-widget__name">{{ link.title }}</span>
                              <ul class="nav-widget__linklist">
                                  {% for _link in link.links %}
                                      <li class="nav-widget__item">
                                           <a class="nav-widget__link" href="{{ _link.url }}">{{ _link.title }}
                                               {% if link.object.products_count %}<span class="menu-number">{{ link.object.products_count }}</span>{% endif %}</a>
                                       </li>
                                  {% endfor %}
                              </ul>
                          </li>
                      {% endfor %}
                  </ul>
                </div>
         {% endfor %}
        </div>


        <div id="bc-sf-filter-tree"></div>
        <div class="collection__size-footer">
          <a href="#" id="find-your-size-button" class="collection__size-link js-open-size-popup">Find your size</a>
          <div class="collection__size-message size-message" id="size-message">
            <h6 class="size-message__title">The sizing is not standard</h6>
            <p class="size-message__description">Please check our size guide for proper fit</p>
          </div>
        </div>
      </div>
      <div class="collection__body">
        <div data-bc-sort="{{ collection.default_sort_by }}" class="product-grid">
          <div class="product-grid__row" id="bc-sf-filter-products">
            {% if collection.default_sort_by != 'best-selling' %}
              {% for product in collection.products %}
                {% include 'bc-sf-filter-product-item', product: product %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div id="bc-sf-filter-bottom-pagination" class="bc-sf-filter-bottom-pagination-default"></div>
        <div id="bc-sf-filter-load-more"></div>
      </div>
    </div>
    {% endpaginate %}
  </div>
</div>

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},
      toolbar_viewas: "View As",
      items_with_count_one: "product",
      items_with_count_other: "Products",
    },
    label_basic: {
      sale: "Sale",
      sold_out: "Sold out",
      from: "from",
    },
    custom: {
      products_per_page: {% if products_per_page %} {{ products_per_page | json }} {% else %} 24 {% endif %},
      products_per_row: {% if section.settings.products_per_row %} {{ section.settings.products_per_row }} {% else %} 3 {% endif %},
      products_per_row_mobile: {% if section.settings.products_per_row_mobile %} {{ section.settings.products_per_row_mobile }} {% else %} 2 {% endif %},
      show_vendor: {% if section.settings.show_vendor %} {{ section.settings.show_vendor | json }} {% else %} false {% endif %},
      show_price: {% if section.settings.show_price %} {{ section.settings.show_price | json }} {% else %} false {% endif %},
      show_sale_label: {% if section.settings.show_sale_label %} {{ section.settings.show_sale_label | json }} {% else %} false {% endif %},
      show_sold_out_label: {% if section.settings.show_sold_out_label %} {{ section.settings.show_sold_out_label | json }} {% else %} false {% endif %},
      active_image_swap: {% if section.settings.active_image_swap %} {{ section.settings.active_image_swap | json }} {% else %} false {% endif %},
      show_sorting: {% if section.settings.show_sorting %} {{ section.settings.show_sorting | json }} {% else %} false {% endif %},
    }
  };
</script>
{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Products per page",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 24
      },
      {
        "type": "range",
        "id": "products_per_row",
        "label": "Products per row on Desktop",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "products_per_row_mobile",
        "label": "Products per row on Mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_price",
        "label": "Show price",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sale_label",
        "label": "Show sale label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sold_out_label",
        "label": "Show sold out label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "active_image_swap",
        "label": "Active image swap",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sorting",
        "label": "Enable collection sorting",
        "default": true
      }
    ],
    "blocks":[{
      "type":"linklist",
      "name":"LinkList",
      "settings":[{
          "type":"link_list",
           "id": "linklist",
           "label": "Linklist"
      }]
    }]
  }
{% endschema %}